*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    color:white;
    width: 100%;
    background-color: black;
    font-family: sans-serif;
}
.wraper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

a, li{
    text-decoration: none;
    color: white;
    list-style: none;
}
.logo{
    color:#8A38CD;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    /*transform: translateX(-50%);*/
}


.logo small{
    font-size: 30px;
}

header .container{
    display: flex;
    justify-content: flex-end;
    position:relative;
    align-items: center;
    padding: 20px 0;
    text-align: center;
}

.menu{
    display: flex;
    gap:40px;
    font-size: 20px;
}

.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 20px;

}
h1{
    font-size: 45px;
    font-weight: bold;
    font-style: italic;
}
.hero p{
    font-size: 25px;
    max-width: 450px;
    text-align: center;
    margin: 0 100px;
}
.hero img{
    width: 280px;
    margin: 0 100px;
}

.hero--info button{
    position:relative;
    top:20px;
    left:35%;
    background-color: #8A38CD;
    border-radius: 30px;
    color: black;
    width: 170px;
    border: none;
    font-size: 30px;
}

.info {
    padding: 30px 20px;
    text-align: center;
    margin: 0 30px;
}

h2 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
}

h2::after {
    content: "";
    display: block;
    width: 150px;
    height: 2px;
    background-color: #8A38CD;
    margin: 10px auto 0;
}

.info-grid {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px 40px;
    border: 2px solid #8A38CD;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.info-grid::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 2px solid #8A38CD;
    pointer-events: none;
    height: 310px;
}

/* Карточка */
.info-card {
    text-align: center;
}

.icon-card img {
    width: 60px;
    margin-bottom: 20px;
    filter: brightness(0) invert(1); /* делает иконки белыми */
}

.info-card h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.info-card p {
    font-size: 14px;
    color: #ccc;
    line-height: 1.6;
}
/*меню карточки*/
.menu-info{
    margin:30px 0 ;
    text-align: center;
}
.menu-card img{
    width: 250px;
    height: 350px;
    box-shadow: 0 0 20px 10px rgba(68, 22, 148, 0.5);
}
.card-title {
    position: relative;
    top:-175px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 40px;
    color: white;
    width: 200px;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
}
.menu-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
.arrow-btn {
    position: relative;
    width: 350px;
    height: 60px;
    background: black;
    border: none;
    cursor: pointer;
    padding: 0;
}

.arrow-btn svg {
    position: absolute;
    width: 50%;
    height: 70%;
}

.arrow-btn span {
    position: relative;
    z-index: 1;
    left: 35px;
    top:5px;
    color: white;
    font-size: 20px;
}
/*контактная инфа*/
.contact{
    margin: 40px 0;
    width: 100%;
    text-align: center;
}

.info-work{
    display: flex;
}
.info-work h3{
    font-size: 30px;
    position: relative;
    z-index: 1;
    top: -150px;
}
.info-work p {
   position: relative;
   z-index: 1;
    top: -150px;
}
.info-img img{
    width: 777px;
    height: 200px;
}

.footer {
    margin-top: 60px;
    border-top: 1px solid #444;
    background: black;
    padding: 0 40px;
    text-align: center;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
}

.footer-left a {
    color: #999;
    display: block;
    font-size: 18px;
    width: 220px;
}

.footer-card {
    text-align: center;
    padding: 20px 60px;
}

.footer-logo {
    font-size: 40px;
    font-weight: bold;
    color: #8A38CD;
}

.footer-logo span {
    font-size: 24px;
}

.socials {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.socials img {
    width: 28px;
    height: 28px;
    filter: brightness(0) invert(1);
}

.footer-right {
    text-align: right;
    color: #999;
}

.footer-right h4 {
    color: white;
    margin-bottom: 10px;
    font-size: 20px;
}



