*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /*outline: 1px solid red;*/
}
body{
    color:#fff;
    width: 100%;
    background-color:#000;
    font-family: sans-serif;
}

a, li{
    text-decoration: none;
    color: white;
    list-style: none;
}
.logo{
    color:#8A38CD;
    font-size: 50px;
    font-weight: bold;
}

.logo small{
    font-size: 30px;
}

header{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    padding: 20px 0;
    text-align: center;
}

 .menu{
    display: flex;
    gap:40px;
    font-size: 20px;
    align-items: center;
}

/*блок с текстом*/
.promo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 20px;
    margin: 0 50px;

}
h1{
    font-size: 45px;
    font-weight: bold;
    font-style: italic;
}
.promo p{
    font-size: 25px;
    max-width: 450px;
    text-align: center;
    margin: 0 100px;
}
.promo img{
    width: 280px;
    margin: 0 100px;
}

.promoText button{
    position:relative;
    top:20px;
    left:35%;
    background-color: #8A38CD;
    border-radius: 30px;
    color: black;
    width: 30%;
    border: none;
    font-size: 30px;
}

/*aboutAs*/
.aboutAs {
    padding: 30px 20px;
    text-align: center;
    margin: 0 30px;
}

.icon{
    color: #fff;
    width: 60px;
    height: 60px;
}

h2 {
    font-size: 32px;
    font-weight: 500;
    margin: 50px 0;
    text-align: center;

}

h2::after {
    content: "";
    display: block;
    width: 150px;
    height: 2px;
    background-color: #8A38CD;
    margin: 10px auto 0;
}

.about__grid {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px 40px;
    border: 2px solid #8A38CD;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.about__grid::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 2px solid #8A38CD;
    pointer-events: none;
    height: 110%;
}
/* box */
.about__card {
    text-align: center;
}

.about__card-icon {
    align-items: center;
    margin-bottom: 20px;
}

.about__card  h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.about__card  p {
    font-size: 14px;
    color: #ccc;
    line-height: 1.6;
}
/*меню карточки*/

.menuCard{
    margin:30px 0 ;
    text-align: center;
}
.menuCard__grid {
    margin: 0 auto;
    padding: 60px 5%;
    max-width: 1400px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    align-items: center;
}

.menuCard__img-card img{
    width: 250px;
    height: 350px;
    box-shadow: 0 0 20px 10px rgba(68, 22, 148, 0.5);

}
.menuCard__card-title {
    position: relative;
    top:-175px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 40px;
    color: white;
    width: 200px;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
}

.menuCard__btn {
    background:#000;
    border: none;
    cursor: pointer;
    padding: 0;
    align-items: center;
}

.btnSvg {
    width: 70%;
    height: 50%;
    color: #8A38CD;
}

.menuCard__btn span {
    color: white;
    font-size: 40px;
    font-weight: 500;
    position: relative;
    top: -75px;
    z-index: 1;
}
/*контактная инфа*/
.contact{
    margin: 40px 0;
    width: 100%;
    text-align: center;
}

.contact__work{
    display: flex;
}
.contact__img h3{
    font-size: 30px;
    position: relative;
    z-index: 1;
    top: -150px;
}
.contact__img p {
   position: relative;
   z-index: 1;
    top: -150px;
}
.contact__img img{
    width: 100%;
    height: 200px;
    display: block;
}

/*///////////////////////////////////////*/
.footer {
    margin-top: 60px;
    border-top: 1px solid #444;
    background: black;
    padding: 0 40px;
    text-align: center;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
}

.footer-left a {
    color: #999;
    display: block;
    font-size: 18px;
    width: 220px;
}

.footer-card {
    text-align: center;
    padding: 20px 60px;
}

.footer-logo {
    font-size: 40px;
    font-weight: bold;
    color: #8A38CD;
}

.footer-logo span {
    font-size: 24px;
}

.socials {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.socials img {
    width: 28px;
    height: 28px;
    filter: brightness(0) invert(1);
}

.footer-right {
    text-align: right;
    color: #999;
}

.footer-right h4 {
    color: white;
    margin-bottom: 10px;
    font-size: 20px;
}



